p { 
	margin: 0;
	text-indent: 1.5em;
	text-align: justify;
}
h1, h2, h3, h4 { 
	-epub-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	text-align: center;
	line-height: 1;
}
blockquote {
	font-style: italic;
	font-size: .95rem;
	margin: 1rem .5rem 2.5rem 5rem;
}
blockquote > p {
	text-indent: 0;
}
blockquote > p > strong {
	display: block;
	margin: .25rem 0 1.5rem 1rem;
	text-align: right;
	font-size: .9rem;
}
body > ul, body > ol {
	font-family: monospace;
	margin: 1rem 0;
	padding: .5rem 0;
	border-style: solid none;
	border-color: #888A; 
	border-width: thin;
	font-size: 1.1rem;
	text-align: left;
}
body > ol > li {
	list-style-position: inside;
	text-align: left;
}
body > ul > li {
	list-style: none;
	text-align: left;
}
body > ul > li > ul {
	padding-left: 0;
	list-style-position: inside;
	list-style-type: square;
}
hr {
	margin: 1rem auto .25rem;
	border-color: #888A;
	border-style: solid none none none;
	width: 5rem;
}
section.endnotes {
	page-break-before: always;
	font-size: .9rem;
	margin-top: .25rem;
}
section.endnotes hr {
	width: auto;
}
section.endnotes ol {
	margin: 0;
	padding: .25rem 0;
}
section.endnotes li {
	list-style-position: inside;
	text-align: justify;
	margin: .5rem 0;
}
section.endnotes li p {
	text-indent: 0;
	margin: .33rem 0;
}
