p { 
	margin: 0;
	text-indent: 1.5em;
}
/*h2+p{
	text-indent: 0;
}
h2+p:first-letter {
	font-size: 1.25em;
	font-weight: bolder;
	float: left;
	line-height: .85em;
}*/
h1, h2, h3, h4 { 
	-epub-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}
h1, h2 {
	text-align: center;
	line-height: 1;
}