h1, h2, h3, h4 {
	text-align: center;
	page-break-after: avoid !important;
	-epub-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}
h1, h2 {
	margin: .25rem 1rem .75rem;
}
h5 {
	text-indent: 8rem;
	margin: 1rem 0 .5rem 0;
	page-break-after: avoid !important;
}
p {
	margin: .70rem 0;
	text-indent: 0;
	/*page-break-inside: avoid;*/
	text-align: left;
	-epub-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}
p:last-of-type > em {
	font-size: .85em;
	font-size: .85rem;
	/*page-break-before: avoid !important;*/
}
p:last-of-type > em::before {
	content: "— ";
}
blockquote {
	font-style: italic;
	margin: .5em 2em .75em 2em;
	font-size: .95em;
	margin: -.25rem 2rem .5rem 2rem;
	font-size: .95rem;
}
blockquote p {
	text-align: right;
	margin: 0;
}
body.about p {
	text-indent: 1.5em;
	text-indent: 1.5rem;
	text-align: justify;
	page-break-inside: auto;
	margin: 0;
	-epub-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
body.about p > img {
	width: 100%;
	height: auto;
	text-align: center;
	display: block;
	margin: .75em 0 1em -1.5em;
	margin: .75rem 0 1rem -1.5rem;
}
body.about blockquote {
	font-size: inherit;
	margin: 1em 1em 1em 1.5em;
	margin: 1rem 1rem 1rem 1.5rem;
}
body.about blockquote p {
	text-align: left;
	margin: 0 0 .75em 0;
	margin: 0 0 .75rem 0;
	text-indent: 0;
	page-break-inside: avoid;
}